#clockContainer {
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(clock.png);
    background-size: 100%;
    margin: auto;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 29%;
    top: 21%;
    left: 48.8%;
    opacity: 0.8;
    /* display: none; */
}

#minute {
    width: 2%;
    height: 32%;
    top: 18%;
    left: 48.8%;
    opacity: 0.6;
    /* display: none; */
}

#second {
    width: 1.5%;
    height: 36%;
    top: 15%;
    left: 48.8%;
    opacity: 0.4;
    /* display: none; */
}